<div class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/images/logo.svg" alt="Логотип Бургер чеддер" />
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#" (click)="scrollTo(why); false">Почему у нас</a>
          </li>
          <li class="menu-item">
            <a href="#" (click)="scrollTo(products); false">Меню бургеров</a>
          </li>
          <li class="menu-item">
            <a href="#" (click)="scrollTo(order); false">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div class="currency" title="Изменить валюту" (click)="changeCurrency()">{{currency}}</div>
    </div>
  </header>
  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <span class="main-small-info">Новое меню</span>
        <h1 class="main-title">Бургер чеддер</h1>
        <p class="main-text">
          Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным вкусом наших бургеров.
          Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.
        </p>
        <div class="main-action">
          <button type="button" class="button" (click)="scrollTo(products)">
            Смотреть меню
          </button>
        </div>
      </div>
      <img src="./assets/images/main_burger.png" alt="Big Burger" class="main-image" />
    </div>
  </section>
</div>
<section class="why" #why>
  <div class="container">
    <h2 class="why-title common-title">Почему нас выбирают?</h2>
    <ul class="why-items">
      <li class="why-item">
        <img src="./assets/images/burger.png" alt="burger" class="why-item-image" />
        <h3 class="why-item-title">Авторские рецепты</h3>
        <p class="why-item-text">
          Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие другие. Мы тщательно отбираем
          лучшие ингредиенты и сочетания вкусов для нашего меню.
        </p>
      </li>
      <li class="why-item">
        <img src="./assets/images/meat.png" alt="meat" class="why-item-image" />
        <h3 class="why-item-title">Мраморная говядина</h3>
        <p class="why-item-text">
          Для наших бургеров мы используем отборную 100% мраморную говядину, которую закупаем исключительно у фермеров.
          Мы уверены в качестве нашего мяса.
        </p>
      </li>
      <li class="why-item">
        <img src="./assets/images/truck.png" alt="truck" class="why-item-image" />
        <h3 class="why-item-title">Быстрая доставка</h3>
        <p class="why-item-text">
          Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка бесплатно. Мы тщательно упаковываем
          наши бургеры, чтобы по дороге они не остыли.
        </p>
      </li>
    </ul>
  </div>
</section>
<section class="products" #products>
  <div class="container">
    <h2 class="products-title common-title">Выберите свой бургер</h2>
    <ul class="products-items">
      <li class="products-item" *ngFor="let product of goodsData">
        <div class="products-item-image">
          <img src="./assets/images/goods/{{product.image}}" alt="{{product.title}}" />
        </div>
        <h3 class="products-item-title">{{product.title}}</h3>
        <p class="products-item-text">{{product.text}}</p>
        <div class="products-item-extra">
          <div class="products-item-info">
            <div class="products-item-price">{{product.price}} {{currency}}</div>
            <div class="products-item-weight">{{product.grams}} гр</div>
          </div>
          <div class="products-item-action">
            <button type="button" class="button products-button" (click)="scrollTo(order, product)">
              <span>Заказать</span>
              <span>
                <svg width="24" height="25">
                  <use href="./assets/images/sprite.svg#cart" />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="order" #order>
  <div class="container">
    <h2 class="order-title common-title">Оформление заказа</h2>
    <img src="./assets/images/order_image.png" alt="Burger in the box" class="order-image" />
    <form class="order-form">
      <h3 class="order-form-text"> Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа </h3>
      <fieldset class="order-form-inputs" [formGroup]="form">
        <label class="order-form-input"
          [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched)}">
          <input type="text" placeholder="Выберите товар в списке" formControlName="order" readonly />
        </label>
        <label class="order-form-input"
          [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}">
          <input type="text" placeholder="Ваше имя" formControlName="name" />
        </label>
        <label class="order-form-input"
          [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}">
          <input type="tel" placeholder="Ваш телефон" formControlName="phone" />
        </label>
        <button type="submit" class="button order-form-button" [disabled]="!form.valid" (click)="confirmOrder(); false">
          Оформить заказ
        </button>
      </fieldset>
    </form>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.svg" alt="Логотип Бургер чеддер" />
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>
